@font-face {
	font-family: "pmd";
	src: url('../tumblr/PMD.ttf');
}
body {
	margin: 0;
	padding: 0;
	background: url('../tumblr/blogbackground.png');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-family: "pmd";
	font-size: 10pt;
	color: #fff;
	text-shadow: 1px 1px #000;

}
div {
	display: inline-block;
	padding: 0;
}
textarea {
	width: 100%;
	resize: none;
}
p {
	margin: 10px 0;
}
a {
	text-decoration: none;
	color: rgb(205,229,107);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a:hover {
	text-decoration: none;
	color: rgb(136,163,29);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
hr {
	width: 95%;
}
.inputbtn {
	margin-left: 10px;
}
.songname {
	width: 350px;
	text-align: left;
	padding: 5px 15px;
}
.diff {
	width: 55px;
}
.life {
	width: 55px;
}
.wrapper {
	width: auto;
	display: table;
	margin: 50px auto;
    background: rgba(33,71,108,0.9);
    border-width: 5px 10px;
    border-color: rgb(12,19,44);
    border-style: solid;
    border-radius: 7px;
	text-align: center;
}
.wrapper:not(.dropdown) {
	visibility: hidden;
}
.container {
	padding: 0;
	margin: 0 auto;
}
.text {
	width: 500px;
	word-wrap: break-word;
	text-align: left;
}
.pad {
	padding: 0 10px;
}
.requirement {
	display: none;
}
.btn {
	width: 100%;
}
.l15 {
	padding: 0 5px;
	background-color: rgba(153, 204, 0, 0.4);
}
.l16 {
	padding: 0 5px;
	background-color: rgba(200, 158, 0, 0.4);
}
.l17 {
	padding: 0 5px;
	background-color: rgba(255, 102, 0, 0.4);
}
.l18 {
	padding: 0 5px;
	background-color: rgba(255, 71, 91, 0.4);
}
.l19 {
	padding: 0 5px;
	background-color: rgba(255, 51, 153, 0.4);
}
.l20 {
	padding: 0 5px;
	background-color: rgba(255, 35, 12, 0.4);
}
.l15:hover {
	background-color: rgba(203, 254, 50, 0.4);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.l16:hover {
	background-color: rgba(250, 208, 50, 0.4);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.l17:hover {
	background-color: rgba(255, 152, 50, 0.4);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.l18:hover {
	background-color: rgba(255, 121, 141, 0.4);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.l19:hover {
	background-color: rgba(255, 101, 203, 0.4);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.l20:hover {
	background-color: rgba(255, 85, 62, 0.4);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.item {
	border-bottom: solid 1px black;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.item:last-child {
	border-bottom: 0;
}
.chain {
	box-shadow: 5px 0 0 0 white inset;
}
.chain:hover {
	box-shadow: 5px 0 0 0 cyan inset;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.hide {
	visibility: hidden;
}
.fixed {
    position: fixed;
    top: 10;
    margin: 0;
    right: 10;
    z-index: 1;
}
.cards {
    padding: 0 10px;
    border-right: solid rgb(12,19,44) 1px;
    cursor: default;
}
.cards:last-child {
    border-left: 0;
}
.cards .dropdown {
    position: absolute;
    display: none;
    margin: 0;
    text-align: left;
    padding: 5px;
    width: 240px;
    left: -10px;
    z-index: 0;
}
.cards:hover .dropdown {
    top: 30px;
    display: block;
}
.dropdown p {
    margin: 2 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.cardnum {
	font-size: 120%;
    text-align: center;
    margin: 7px 0;
}
.inactive {
	color: #999;
}
.blank {
	background-color: #000;
	width: 100%;
	padding: 5px 0;
}
.omega {
	padding: 0 5px;
	background-color: rgba(115, 74, 173, 0.4);
}
.omega:hover {
	background-color: rgba(115, 38, 224, 0.4);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.omegachk {
	margin-left: 10.5px;
	margin-right: 10.5px;
}
.break {
	position: absolute;
	display: table;
	right: 25px;
	bottom: 25px;
	margin: 50px;
	padding: 15px;
	padding-right: 100px;
}
@keyframes arrow {
	from {top: 0px;}
	to {top: 3px;}
}
.arrowspan {
	font-size: 70%;
	position: relative;
	animation-name: arrow;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}